*{
    background-color: #cbb4d8;
}
/*HEADER AND LOGO*/
header{
  background-color: #5f4b6b;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    padding: 0px 0px 0px 10px;

}
#myname{
    padding-left: 10px;
}

/*NAVIGATION BAR*/
nav ul{
    display:flex;
    justify-content: right;
    font-family: "DM Serif Display", serif;
    
}

nav ul li{
    list-style: none;
    margin-left: 5px;
}

nav ul li:not(:first-child)::before{
    content: "/" ;
    color: rgb(255, 255, 255); 
    font-weight: bolder;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    text-shadow: 5px 5px 7px rgba(54, 11, 0, 0.8);
   text-decoration: underline;
    transition: color 0.5s ;
}

/*ABOUT*/
.about{
display: flex;
flex-direction: column ;
justify-content: center;
align-items: center;
gap: -20px;
 
}